body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: rgb(3, 3, 37);
    color: #fff;
    text-align: center;
    padding: 1em;

}
#logo {
    display: inline-block;
    margin: 55px; 
    float: left;
    height: 65px;
    width: auto; 
    border-radius: 50px; 

  }
nav {
    background-color:rgb(3, 3, 52);
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
    font-size: 1.2em;
}
.active, nav a:hover{
                    background: rgb(21, 21, 97);
                    padding: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

article {
    flex: 1 1 300px;
    margin: 1em;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

article h2 {
    padding: 1em;
    margin: 0;
}

article p {
    padding: 0 1em 1em;
}

footer {
    background-color:rgb(135, 135, 135);
    color: #fff;
    text-align: center;
    padding: 1em;
}
header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em; /* Adjust the size as needed */
    font-weight: bold; /* You can use 'normal' or other values */

}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    position:absolute;
    top: 10px;
    right: 10px;
}

button:hover {
    background-color: #45a049;
}
footer, p{
    text-align: left;
}